@model ProjetoLivroAspNetMvc01_2013.Models.Fabricante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Fabricante";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-info">

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Editar dados do Fabricante</span>
            </div>

            <div class="panel-body">
                <div class="form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.FabricanteId)

                        <div class="form-group">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                @Html.Label("", "ID: ", new { @class = "control-label" })
                                @Html.Label("", Model.FabricanteId.ToString(), new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Nome, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Nome)
                            </div>
                        </div>

                        <input type="submit" id="SalvarHidden" hidden />
                    }
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                            @*@Html.ActionLink("Salvar", "", null, new { @class = "btn btn-primary", @onclick = "'$(#SalvarHidden).click()'" })*@

                            <input type="submit" value="Salvar" class="btn btn-primary" onclick="$('#SalvarHidden').click()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Scripts/jquery-1.10.2.min.js")
@Styles.Render("~/Scripts/jquery.validate.min.js")
@Styles.Render("~/Scripts/jquery.validate.unobtrusive.min.js")