@model PostGetModel.Models.Pessoa
@{
    ViewBag.Title = "Lista dados da pessoa válida";
}

<h2>Lista dados da pessoa válida</h2>
<fieldset>
    <legend>Pessoa</legend>
    <div class="display-label">
        @Html.DisplayNameFor(x=>x.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x=>x.Nome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(x => x.Observacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Observacao)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(x => x.Idade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Idade)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(x => x.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(x => x.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => x.Login)
    </div>

</fieldset>
<p>@Html.ActionLink("Voltar","Index")</p>