@model PostGetModel.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<h2>Lista via método POST ViewData</h2>

<div>
    <b>PessoaId</b>
</div>
<div>
    @ViewData["pessoaId"]
</div>

<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["nome"]
</div>

<div>
    <b>Twitter</b>
</div>
<div>
    @ViewData["twitter"]
</div>

<h2>Lista via método POST ViewTipada</h2>

<div>
    <b>@Html.LabelFor(x=>x.PessoaId)</b>
</div>
<div>
    @Model.PessoaId
</div>

<div>
    <b>@Html.LabelFor(x=>x.Nome)</b>
</div>
<div>
    @Model.Nome
</div>

<div>
    <b>@Html.LabelFor(x=>x.Twitter)</b>
</div>
<div>
    @Model.Twitter
</div>

<a href="~/" title="Voltar">Voltar</a>