@model IEnumerable<PostGetModel.Models.Noticia>
@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias - Rotas em ASP .NET MVC</h2>

<hr />

<div>
    <ul>
        @foreach (string item in ViewBag.Categorias)
        {
            <li>
                @Html.ActionLink(item, "MostraCategoria", "Home", new { @categoria = item }, null)
            </li>
        }
    </ul>
</div>

<hr />

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new
                   {
                       @noticiaId = item.NoticiaId,
                       @categoria = item.Categoria,
                       @titulo = item.Categoria
                   }, null)
                <em>@Html.DisplayFor(x => item.Categoria)</em>
                <b>@Html.DisplayFor(x => item.Data)</b>
            </li>
        }
    </ul>
</div>

<hr />

<div>
    @Html.ActionLink("Todas as Noticias", "TodasAsNoticias", "Home")
</div>
